<%- model_class = ChatRoom -%>
<div class="page-header">
  <h3><%="Select any chat room" %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @chat_rooms.each do |chat_room| %>
      <tr>
        <td><%= chat_room.name %></td>
        <td>
          <%= link_to 'Join Chat Room',
                      chat_room_path(chat_room), :class => 'btn btn-success btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
