<%- model_class = ChatRoom -%>
<div class="page-header">

  <h3><%=link_to "Create a new room", new_chat_room_path %></h3>
  <%- if @chat_rooms.any?%>
  <h3><%="Or select any chat room" %></h3>
  <%-end%>
</div>
 <%- if @chat_rooms.empty?%>
  <h3><%="No chat rooms available" %></h3>
  <%- else%>
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @chat_rooms.each do |chat_room| %>
      <tr>
        <td><%= chat_room.name %></td>
        <td>
          <%= link_to 'Join Chat Room',
                      chat_room_path(chat_room), :class => 'btn btn-success btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%-end%>
