<!--<p id="notice"><%= notice %></p>-->

<div class="chat_container">
  <p class="welcome"> Hi <%= current_user.name %>, Welcome to chat room <%= @chat_room.name %> </p>
  <div id="chat_room_container" class='c'>

  </div>

  <div id="chat_form">
    <form id="new_message_form">
      <input type="text" id="message" name="message">
      <input type="submit" value="Send">
    </form>
    <%= link_to 'Back', chat_rooms_path %>
  </div>
</div>

<script>
    $(function() {
        // Create a new client to connect to Faye
        var client = new Faye.Client('http://localhost:9292/faye');
        var channel = '<%= "/chat_room/" + params[:id] %>'
        // Handle form submissions and post messages to faye
        $('#new_message_form').submit(function(){
            // Publish the message to the public channel

            client.publish(channel, {
                username: '<%= current_user.name %>',
                msg: $('#message').val()
            });

            // Clear the message box
            $('#message').val('');

            // Don't actually submit the form, otherwise the page will refresh.
            return false;
        });

        var public_subscription = client.subscribe(channel, function(data) {
            chat_container = $('#chat_room_container')
            html_string = "<p> <b>" + data.username +"</b>: "+ data.msg +"</p>"
            chat_container.append(html_string);
            chat_container.scrollTop(chat_container.prop("scrollHeight"));

        });

    });
</script>
