
<div class="chat_container">
  <p class="welcome"> Hi <%= current_user.name %>, Welcome to chat room <%= @chat_room.name %> </p>
  <div id="chat_room_container">

  </div>

  <div id="chat_form">
    <form id="new_message_form">
      <input type="text" id="message" name="message">
      <input type="submit" value="Send">
    </form>
    <%= link_to 'Back', chat_rooms_path %>
  </div>
</div>

<script>
    $(function() {
        // get a new faye client
        var faye_client = new Faye.Client('<%= Settings.faye_hosting_url %>');
        // set the channel as there are multiple channels(chat_rooms)
        var channel = '<%= "/chat_room/" + params[:id] %>'

        $('#new_message_form').submit(function(){
            // Publish the message to the channel

            faye_client.publish(channel, {
                username: '<%= current_user.name %>',
                msg: $('#message').val()
            });

            $('#message').val('');

            // to prevent page from being refresh
            return false;
        });

        //subscribe the message from channel
        var subscription = faye_client.subscribe(channel, function(data) {
            var chat_container = $('#chat_room_container')
            var html_string = "<p> <b>" + data.username +"</b>: "+ data.msg +"</p>"
            chat_container.append(html_string);
            chat_container.scrollTop(chat_container.prop("scrollHeight"));

        });

    });
</script>
