<!DOCTYPE html>
<html>
<head>
  <title>Chatty batty</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag Settings.faye_js_path %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><%= link_to "Update Name", edit_user_path(current_user) if current_user.present?  %></li>
        <li role="presentation"><%= link_to "All Rooms", chat_rooms_path if current_user.present?  %></li>
        <li role="presentation"><%= link_to "Logout", destroy_user_session_path, :method => 'delete' if current_user.present?  %></li>
        <li role="presentation"><%= link_to "Sign in", new_user_session_path if current_user.nil?  %></li>
      </ul>
  </div>
  <h1 class="text-muted">Chatty Batty</h1>

  <%- if notice.present? %>
      <p class="notice" id="notice"><%= notice %></p>
  <%- end %>

  <%- if alert.present? %>
      <p class="alert"><%= alert %></p>
  <%- end %>
  <%= yield %>
  <%= yield :js %>

</div>
</body>

</html>
